* {color: black;}
p, strong {   color: green;}
h1 {
    border-bottom: double 4px blue;
    display: inline;
}
h2 {
    color: orange;
    background-color: palegoldenrod;
    display: inline;
}
li {font-size: 2e;}

li strong{ color: blue;}

.texto-importante{
    font-size: 1.2em;
    font-weight: bold;
}

#divSantaFe, #divEntreRio, #divCordoba, #contenedorPagina, #tablaOscura{
    display: none;
}

#divTitulo{
    border: 1px solid #ee32d5;
    text-align: center;
    transition: 1s cubic-bezier(0,1.5,.5,1);
}
#divTitulo:hover{
    transform: scale(2) rotate(30deg);
}