* {color: black;}
p, strong {   color: green;}
h1 {
    border-bottom: double 4px blue;
    display: inline;
}
h2 {
    color: orange;
    background-color: palegoldenrod;
    display: inline;
}
li {font-size: 2e;}

li strong{ color: blue;}

.texto-importante{
    font-size: 1.2em;
    font-weight: bold;
}

#divSantaFe, #divEntreRio, #divCordoba, #contenedorPagina, #tablaOscura{
    display: none;
}

#divSantafe{
    border: 1px;
    transition: 1s;
    text-align: center;
}
#divSantaFe{
    transform: rotate(1s);
}